{% extends 'event/main.html' %} {% block content %}
<h1 class="text-2xl font-extrabold my-6">My account</h1>
<p class="text-center text-xl">{{user.name}}</p>
<div>
  <p class="my-4 font-extrabold text-2xl">My Events</p>
  {%for event in user.events.all%}
  <a href="{% url 'event' event.id %}">{{event.name}}</a>
  {%endfor%}
</div>
<div>
  <p class="my-4 font-extrabold text-2xl">My Submissions</p>
  {%for sub in user.submissions.all%}
  <a href="{% url 'update-submission' sub.id %}">{{sub.event.name}}</a>
  {%endfor%}
</div>
{% endblock %}
