{% extends 'event/main.html' %} {% block content %}
<div>
  <h1 class="text-2xl font-extrabold my-6">My account</h1>
  <p class="text-center text-xl">{{user.name}}</p>
  <a
      class="py-2 px-4 text-xl bg-yellow-400 text-black rounded-md"
      href="#"
      >Edit</a
    ><br/>
    <br/>
    <a
      class="py-2 px-4 text-xl bg-yellow-400 text-black rounded-md"
      href="{% url 'logout' %}"
      >Reset password</a
    >
</div>
<br/>
<div>
  <p class="my-4 font-extrabold text-2xl">My Events</p>
  {%for event in user.events.all%}
  <a href="{% url 'event' event.id %}">{{event.name}}</a>
  {%empty%}
  <p class="text-xl">You haven't registered for any event</p>
  {%endfor%}
</div>
<div>
  <p class="my-4 font-extrabold text-2xl">My Submissions</p>
  {%for sub in user.submissions.all%}
  <a href="{% url 'update-submission' sub.id %}">{{sub.event.name}}</a>
  {%empty%}
  <p class="text-xl">You haven't submitted any project yet</p>
  {%endfor%}
</div>
{% endblock %}
