<nav
  class="py-8 text-xl items-center text-white justify-between shadow bg-slate-700 flex px-12 w-auto"
>
  <div class="">
    <a href="{% url 'home' %}">Home</a>
  </div>
  <div class="space-x-10 md:space-x-24">
    {% if request.user.is_authenticated %}
    <a href="{% url 'my_account' %}">My Account</a>
    <a
      class="py-2 px-4 bg-yellow-400 text-black rounded-md"
      href="{% url 'logout' %}"
      >Logout</a
    >
    {% else %}
    <a
      class="py-2 px-4 bg-teal-400 text-white rounded-md"
      href="{% url 'login' %}"
      >Login</a
    >
    <a
      class="py-2 px-4 bg-teal-400 text-white rounded-md"
      href="{% url 'register' %}"
      >Register</a
    >
    {% endif %}
  </div>
</nav>
